@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_1: #CB3F4F;
    --color_2: #E76867;
    --color_3: #FFF4E8;
    --color_4: #222C3B;
    --color_5: #363E49;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    font-family: 'Tenor Sans', sans-serif;
    background-image: linear-gradient(#E76867,#CB3F4F);
}
form{
    display: flex;
    flex-direction: column;
    padding: 64px;
    gap: 32px;
    background-color: var(--color_5);
    color: var(--color_3);
    border-radius: 20px;
}
fieldset{
    padding: 16px;
    display: flex;
    flex-direction: column;
}
button{
    background: var(--color_2);
    padding: 16px;
    border: none;
    border-radius: 260px;
}
fieldset label{
    display: flex;
    gap: 16px;
}